<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Admin Styles/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Admin Styles/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Admin Styles/stepper.css" rel="stylesheet" />
</head>
<body id="page-top" style="margin:0;">

    <div id="loader"></div>
    <div id="wrapper">

        <partial name="_AdminSideBar" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <partial name="TopBar" />

                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Admin Styles/jquery.min.js"></script>
    <script src="~/Admin Styles/jquery.easing.min.js"></script>
    <script src="~/Admin Styles/jquery.dataTables.min.js"></script>
    <script src="~/Admin Styles/bootstrap.bundle.min.js"></script>
    <script src="~/Admin Styles/dataTables.bootstrap4.min.js"></script>
    <script src="~/Admin Styles/datatables-demo.js"></script>
    <script src="~/Admin Styles/sb-admin-2.min.js"></script>
    <script src="~/Admin Styles/stepper.js"></script>
</body>
</html>
