@{
    Layout = "/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Log Out";
}


<style>
    .errorsize {
        width: inherit;
        font-size:4.5rem;
    }
</style>

<!-- Begin Page Content -->
<div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="p-5">
                                <!-- 404 Error Text -->
                                <div class="text-center">
                                    <div class="error errorsize  mx-auto" data-text="Logged out">Logged out</div>
                                    <br />
                                    <br />
                                    <p class=" text-gray-700 mb-1">Click below to go to Home Page or to Log in </p>

                                    <a asp-action="Index" asp-controller="Home" class="btn btn-facebook">Home Page</a>
                                    <a asp-action="Authentication" asp-controller="Account" class="btn btn-warning">Login</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->